body {
    margin: 0;
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
}

.header {
    background-color: #222;
}

.header_container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__icon {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 18px;
    margin-bottom: 19px;

}

.search__icon__burger {
    display: none;
}

.main__photo {
    background-color: #F1E4E6;
}

.main__photo1 {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    margin-bottom: 65px;
}

.main__text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.the_brand {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 48px;
}

.the_brand_sec {
    margin: 0;
    font-family: 'Lato-Bold';
    color: #222;
    font-size: 32px;
}

.the_brand_sec span {
    color: #F16D7F;
}

.offer {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box {
    background-size: cover;
    position: relative;
    width: 360px;
    height: 260px;
    text-align: center;
}

.box_1 {
    background-image: url(../images/Layer\ 43.png);
}

.box_2 {
    background-image: url(../images/Rectangle\ 30.png);
}

.box_3 {
    background-image: url(../images/Rectangle\ 31.png);
}

.box_4 {
    grid-column: 1 / 4;
    background-image: url(../images/Rectangle\ 20.png);
    height: 180px;
    text-align: center;
    position: relative;
}

.upper__txt {
    position: absolute;
    color: #FFF;
    font-family: Lato-Regular;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower__txt {
    color: #F16D7F;
    font-family: Lato-Bold;
    font-size: 24px;
}

.featured__text {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.featured {
    margin: 0;
    font-family: Lato-Regular;
}

.p {
    margin: 0;
}

.p1 {
    font-size: 30px;
}

.p2 {
    color: #9F9F9F;
    font-size: 14px;
}

.products {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.product_description {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.name {
    font-family: Lato-Regular;
    font-size: 13px;

}

.description {
    color: #5D5D5D;
    font-family: Lato-Light;
    font-size: 14px;
}

.price {
    margin: 0;
    color: #F16D7F;
    font-family: Lato-Regular;
    font-size: 16px;
}

.button__area {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0;
    background-image: url(../images/Rectangle\ 5.png);
    width: 212px;
    height: 48px;
    border: transparent;
    background-color: #FFF;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

.button__area p {
    color: #F26376;
    font-family: Lato-Regular;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width:1439px) {

    .header_container {
        max-width: 768px;
        padding: 0;
    }

    .search__icon__burger {
        display: none;
    }

    .main__photo1 {
        max-width: 768px;
    }

    .photo {
        max-width: 386px;
        max-height: 386px;
    }


    .the_brand {
        font-size: 44px;
    }

    .the_brand_sec {
        font-size: 24px;
    }

    .offer {
        gap: 19.5px;
        max-width: 734px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .box {
        background-size: 232px auto;
        max-width: 232px;
        max-height: 167px;

    }

    .upper__txt {
        top: 43%;
        min-width: 154px;
    }

    .box_4 {
        height: 116px;
    }

    .products {
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .product_description {
        max-width: 316px;
        padding: 24px 26px 20px 18px;
    }

    .button {
        margin-top: 32px;
    }


}

@media(max-width:767px) {
    .header_container {
        margin: 0;
        max-width: 100%;
    }

    .search__icon {
        gap: 41px;
        margin-left: 16px;
    }

    .button__copy {
        display: none;
    }

    .search__icon__burger {
        display: block;
        margin-right: 16px;
    }

    .photo {
        display: none;
    }

    .main__photo {
        height: 363px;
        margin-bottom: 64px;
    }

    .main__photo1 {
        justify-content: center;
        margin: 0;
        max-width: 100%;
    }

    .the_brand {
        font-size: 38px;
    }

    .main__text {
        margin-top: 148px;
    }

    .featured__text {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .the_brand_sec {
        font-size: 20px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 0;
    }

    .box {
        max-height: 247px;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        margin-left: 16px;
        margin-right: 16px;

    }

    .box_4 {
        min-height: 111px;
        min-width: 232px;
        width: 360px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    .product {
        width: 100%;
    }

    .product__foto {
        width: 100%;
    }

    .product_description {
        max-width: 100%;
    }

    .button {
        margin-top: 40px;
    }
}