body {
    margin: 0;
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url(../fonts/Lato-Italic.ttf);
    font-weight: 400;
}

.header {
    background-color: #222;
}

.header_container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__icon {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 18px;
    margin-bottom: 19px;

}

.search__icon__burger {
    display: none;
}

.right__icons {
    display: flex;
    gap: 33px;
}

.burger {
    cursor: pointer;
    background-color: #222;
    border: none;
}

.dropdown_btn {
    position: relative;

}

.drop__content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 232px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
    margin-top: 24px;
    margin-left: 183px;

}

.menu {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #222;
    padding-left: 33px;
}

.drop__content a {
    text-decoration: none;
    display: block;
}

.category {
    color: #F16D7F;
    font-family: Lato-Regular;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 32px;
}

.clothes a {
    color: #6F6E6E;
    font-family: Lato-Regular;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 53px;
}

.dropdown_btn:hover .drop__content {
    display: block;
}

.basket {
    position: relative;
    display: flex;
}

.basket::after {
    content: '5';
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: Lato-Regular;
    font-size: 12px;
    margin-left: 22px;

}

.main__photo {
    background-color: #F1E4E6;
}

.main__photo1 {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    margin-bottom: 65px;
}

.main__text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.the_brand {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 48px;
}

.the_brand_sec {
    margin: 0;
    font-family: 'Lato-Bold';
    color: #222;
    font-size: 32px;
}

.the_brand_sec span {
    color: #F16D7F;
}

.offer {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box {
    background-size: cover;
    position: relative;
    width: 360px;
    height: 260px;
    text-align: center;
}

.img__bg {
    position: absolute;
    background-color: rgba(33, 22, 22, 0.70);
    height: 100%;
    width: 100%;
}

.box_1 {
    background-image: url(../images/Layer\ 43.png);
}

.box_2 {
    background-image: url(../images/Rectangle\ 30.png);
}

.box_3 {
    background-image: url(../images/Rectangle\ 31.png);
}

.box_4 {
    grid-column: 1 / 4;
    background-image: url(../images/Rectangle\ 20.png);
    height: 180px;
    text-align: center;
    position: relative;
}

.upper__txt {
    position: absolute;
    color: #FFF;
    font-family: Lato-Regular;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower__txt {
    color: #F16D7F;
    font-family: Lato-Bold;
    font-size: 24px;
}

.featured__text {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.featured {
    margin: 0;
    font-family: Lato-Regular;
}

.p {
    margin: 0;
}

.p1 {
    font-size: 30px;
}

.p2 {
    color: #9F9F9F;
    font-size: 14px;
}

.products {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.prod__wrapper {
    position: relative;
}

.add_to_cart {
    color: white;
    display: none;
    background-color: inherit;
    position: absolute;
    width: 139px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lato-Regular;
    font-size: 14px;
    border: 1px solid #FFF;
}

.prod__wrapper:hover>.product__bg {
    position: absolute;
    background-color: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
}

.prod__wrapper:hover .add_to_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.product_description {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.name {
    font-family: Lato-Regular;
    font-size: 13px;

}

.description {
    color: #5D5D5D;
    font-family: Lato-Light;
    font-size: 14px;
}

.price {
    margin: 0;
    color: #F16D7F;
    font-family: Lato-Regular;
    font-size: 16px;
}

.button__area {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0;
    border: 1px solid #F16D7F;
    width: 212px;
    height: 48px;
    background-color: #FFF;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 60px;
    color: #F16D7F;
}

.button:hover {
    background-color: #F16D7F;
    color: white;
}

.button__area p {
    color: #F26376;
    font-family: Lato-Regular;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.deliveries {
    background-color: #222;
}



.deliveries__container {
    max-width: 1140px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
    margin-left: auto;
    margin-right: auto;
    min-height: 341px;
}

.deliveries__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
}

.deliveries__icon h1 {
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 19.96px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 18px;
}

.deliveries__icon p {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato-Light;
    font-size: 13.972px;
    margin: 0;
}

.subscribe {
    background-image: url(../images/back_photo_subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 448px;
    display: flex;
    gap: 223px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe__container {
    width: 360px;
    margin: 97px 126px 228px 230px;
}

.subscribe__container img {
    display: block;
    margin: 0 auto;
}

.subscribe__container p {
    color: #222224;
    text-align: center;
    font-family: Lato-Regular;
    font-size: 20px;
    margin-top: 30px;

}

.subscribe__container span {
    font-family: Lato-Italic;
    font-size: 20px;
}

.email_form p {
    text-align: center;
    font-family: Lato-Bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 32px;
    margin-top: 150px;
}

.email_form span {
    font-family: Lato-Regular;
    font-size: 18px;
}

.email_form form {
    display: flex;
}

.inp_email {
    color: #222224;
    font-family: Lato-Regular;
    font-size: 14px;
    background-color: #E1E1E1;
    opacity: 0.671;
    border-radius: 30px 0px 0px 30px;
    height: 49px;
    border-width: 0;
    padding: 0;
    padding-left: 22px;
    width: 256px;
}

.inp_submit {
    color: white;
    background-color: #E05C6E;
    border-radius: 0px 30px 30px 0px;
    height: 49px;
    border-width: 0;
    width: 100px;
    font-family: Lato-Regular;
    font-size: 14px;
    cursor: pointer;
}



.footer {
    background-color: #222224;
}

.footer__container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 79px;
    justify-content: space-between;
}

.copyright {
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 16px;
    margin-left: 235px;
}

.copyright p {
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 16px;

}

.social_networks {
    display: flex;
    gap: 7px;
    margin-right: 230px;

}

.icon {
    width: 32px;
    height: 32px;
    background-color: white;
    text-align: center;
}

.social__icon {
    margin-top: 22%;
    fill: black;
}

.icon:hover {
    background-color: #F16D7F;
}

.icon:hover>.social__icon {
    fill: white;
}

@media (max-width:1439px) {

    .header_container {
        max-width: 768px;
        padding: 0;
        width: 90vw;
    }



    .main__photo1 {
        max-width: 768px;
    }

    .photo {
        max-width: 386px;
        max-height: 386px;
    }


    .the_brand {
        font-size: 44px;
    }

    .the_brand_sec {
        font-size: 24px;
    }

    .offer {
        gap: 19.5px;
        max-width: 734px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .box {
        background-size: 232px auto;
        max-width: 232px;
        max-height: 167px;

    }

    .upper__txt {
        top: 43%;
        min-width: 154px;
    }

    .box_4 {
        height: 116px;
    }

    .products {
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .product_description {
        max-width: 316px;
        padding: 24px 26px 20px 18px;
    }

    .button {
        margin-top: 32px;
    }

    .deliveries__container {
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 48px;
        align-items: center;
    }

    .deliveries__icon {
        max-height: 134px;
        margin: 0;
    }

    .subscribe {
        flex-direction: column;

        max-width: 1439px;
        gap: 48px;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .subscribe__container {
        margin: 0;

    }

    .email_form p {
        margin: 0;
        margin-bottom: 27px;
    }

    .footer__container {
        max-width: 1439px;
    }

    .copyright {
        margin-left: 32px;
    }

    .social_networks {
        margin-right: 32px;
    }
}

@media(max-width:767px) {
    .header_container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .burger {
        margin-right: 16px;
    }

    .search__icon {
        gap: 41px;
        margin-left: 16px;
    }

    .person, .basket {
        display: none;
    }

    .photo {
        display: none;
    }

    .main__photo {
        height: 363px;
        margin-bottom: 64px;
    }

    .main__photo1 {
        justify-content: center;
        margin: 0;
        max-width: 100%;
    }

    .the_brand {
        font-size: 38px;
    }

    .main__text {
        margin-top: 148px;
    }

    .featured__text {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .the_brand_sec {
        font-size: 20px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 0;
    }

    .box {
        max-height: 247px;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        margin-left: 16px;
        margin-right: 16px;

    }

    .box_4 {
        min-height: 111px;
        min-width: 232px;
        width: 360px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    .product {
        width: 100%;
    }

    .product__foto {
        width: 100%;
    }

    .product_description {
        max-width: 100%;
    }

    .button {
        margin-top: 40px;
    }

    .deliveries__container {
        padding: 0;
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .footer__container {
        flex-direction: column-reverse;
        height: 143px;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .copyright, .social_networks {
        margin: 0;
    }

}