body {
    margin: 0;
}


@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../font/Gilroy-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../font/Gilroy-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../font/Gilroy-SemiBold.ttf);
    font-weight: 400;
}

.body {
    display: flex;
    flex-direction: column;

}

.header {
    height: 114px;
    width: 1170px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.menu_list {
    display: flex;
    max-width: 533px;
    align-items: center;
}

.menu_item_link {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: normal;
}

.menu_item:not(:last-child) {
    margin-right: 18px;
}

.link_1 {
    font-family: Gilroy-Semibold;
    color: red;
}

.logo_block {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
}

.content {
    width: 1170px;
    height: 536px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* .seo {
    margin-right: 134.94px;
} */

.seo_digi {
    font-family: Gilroy-Bold;
    font-size: 60px;
    color: rgba(0, 0, 0, 1);
    width: 522px;
    height: 222px;
    margin-bottom: 17px;
    margin-right: 40.94px;
}

.provide_al {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    color: rgba(136, 136, 136, 1);
    margin-bottom: 37px;
    height: 48px;
    width: 470px;
}

.button {
    display: flex;
    align-items: center;
}

.red__button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    margin-right: 72px;
    font-family: Gilroy-Bold;
    color: #FFF;
    font-size: 15px;
}

.watch__text {
    font-family: Gilroy-Bold;
    font-size: 15px;
    color: rgba(170, 170, 170, 1);
}

.content_image {
    width: 544px;
    height: 374px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.footer_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_img {
    width: 160px;
}